[credential "https://github.com"]
  helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = !/usr/bin/gh auth git-credential
[user]
  email = leinhorn@keplergrp.com

[core]
  pager = delta

[push]
  default = current

[alias]
  co = checkout
  c = commit
  ca = commit --amend --no-edit
  a = add
  s = status
  d = diff
  b = branch
  p = pull
  pf = push --force-with-lease

[delta]
  ; side-by-side = true
  plus-style =  syntax "#214f11" # set background color
  syntax-theme = Monokai Extended
  dark = true

[interactive]
  diffFilter = delta --color-only
